body {
  font-family: helvetica, arial, sans-serif;
  height: 100vh;
}

h1 {
  color: #3a241d;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  position: absolute;
  width: 15%;
  top: 0px;
  height: 100vh;
  padding: 10px;
}

#left-container {
  left: 0px;
}

#right-container {
  right: 0px;
}

.plant-holder {
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 100vh;
}

.plant {
  align-content: center;
  align-items: center;
  position: absolute;
  padding: 10%;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

#terrarium {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 20vw;
}

.jar-top {
  display: flex;
  width: 50%;
  height: 5%;
  background: #d1e1df;
  position: absolute;
  bottom: 80.5%;
  left: 25%;
  opacity: 0.7;
  z-index: 1;
}

.jar-walls {
  display: flex;
  width: 60%;
  height: 80%;
  background: #d1e1df;
  border-radius: 5%;
  position: absolute;
  bottom: 0.5%;
  left: 20%;
  opacity: 0.5;
  z-index: 1;
}

.jar-glossy-long {
  display: flex;
  width: 5%;
  height: 30%;
  background: lightcyan;
  border-radius: 1%;
  position: relative;
  bottom: -35%;
  left: 8%;
  opacity: 0.9;
  z-index: 3;
}

.jar-glossy-short {
  display: flex;
  width: 5%;
  height: 7%;
  background: lightcyan;
  border-radius: 1%;
  position: relative;
  bottom: -15%;
  left: 8%;
  opacity: 0.9;
  z-index: 3;
}

/* .jar-glossy-short {
  width: 5%;
  height: 7%;
  background-color: lightcyan;
  border-radius: 1rem;
  position: relative;
  bottom: -7%;
  left: 10%;
  opacity: 0.9;
  z-index: 3;
} */

.jar-bottom {
  display: flex;
  width: 50%;
  height: 1%;
  background: #d1e1df;
  position: absolute;
  bottom: 0%;
  left: 25%;
  opacity: 0.7;
}

.dirt {
  display: flex;
  width: 60%;
  height: 5%;
  background: #3a241d;
  position: absolute;
  border-radius: 0 0 5rem 5rem;
  bottom: 1%;
  left: 20%;
  opacity: 0.7;
  z-index: -1;
}
